.container {
  margin: 20px auto;
  width: 75%;
  padding: 0px 20px 20px 20px;

}
header{
  margin: 1em auto;
  display: block;
}

.hat_footer{
  position:fixed;
  right:0px;
  bottom:0px;
  height: 40em;
}

.button_form{
  width: 15%;
  display: block;
  margin: auto;
}
header h1{
  text-align: center;
  display: block;
  text-shadow: 5px 5px 0px #eee, 5px 5px 0px #707070;
}
/*th {
  text-align: left;
  }*/

  table{
    margin-top: 3em;
    width: 80%;
  }

  tr{
    padding: 1em;
    height: 10em;
  }
  td{
    border: red 2px solid;
  }
