<div class="container">
  <header>
    <h1>THE MAN IN THE BIG YELLOW HAT SAYS</h1>
  </header>

  <form>
    <button type="button">George Says!</button>
  </form>

  <table>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
